In [1]:
import boto3
import pandas as pd
from sagemaker import get_execution_role

In [2]:
role = get_execution_role()
bucket='ds6-yelp-reviews'
data_key = 'business.json'
data_location = 's3://{}/{}'.format(bucket, data_key)

df = pd.read_json(data_location, lines=True)

In [ ]:
df['is_open'].value_counts(normalize=True)

In [ ]:
df['is_open'].value_counts()

In [ ]:
df.head()

In [ ]:
df['state'].value_counts()

In [ ]:
df['categories'].value_counts()

In [ ]:
df.shape

In [ ]:
df = df.dropna()

In [ ]:
df.shape

In [ ]:
df['business_id'].describe()

In [ ]:
len(df[df['categories'].str.contains("Restaurants")])

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['stars'])

In [ ]:
df['attributes'].describe()

In [ ]:
df['attributes'].value_counts()

In [ ]:
restaurantprice2 = [d.get('RestaurantsPriceRange2') for d in df['attributes']]

In [ ]:
df['pricerange2'] = restaurantprice2

In [ ]:
df['pricerange2'].value_counts()

In [ ]:
import pandas_profiling

In [ ]:
pandas_profiling.ProfileReport(df)

In [3]:
df.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [4]:
import pandas as pd

ids = pd.read_csv('your_file.txt', header = None)

In [5]:
new_ids = pd.read_csv('newids.txt', header = None)

In [6]:
new_ids = new_ids.rename(columns={0: "ID"})

In [ ]:
ids = ids.rename(columns={0: "ID"})

In [ ]:
ids['ID'].dtype

In [ ]:
df_names = pd.merge(ids, df, left_on="ID", right_on="business_id", how="left")

In [7]:
df_names2 = pd.merge(new_ids, df, left_on="ID", right_on="business_id", how="left")

In [ ]:
df_names.shape

In [8]:
df_names2.shape

(94435, 15)

In [ ]:
df_names = df_names[['ID','name']]

In [11]:
df_names2 = df_names2[['ID','name']]

In [12]:
df_names2.head()

                       ID                                               name
0  ujmEBvifdJM6h6RLv4wQIg                              MountainView Hospital
1  NZnhc2sEQy3RmzKTZnqtwQ    Kelly Cardenas Salon - Hard Rock Hotel & Casino
2  WTqjgwHlXbSFevF32_DJVw  J. Philipp Centers for Family and Cosmetic Den...
3  ikCg8xy5JIg_NGPx-MSIDA                                   Regal Beagle Pub
4  b1b1eb3uo-w561D0ZfCEiQ                                     White Teeth AZ

In [ ]:
df_names.head()

In [ ]:
names = df_names['name']

names.to_csv("names2.txt", sep=',', index=False)
# with open('names.txt', 'w') as f:
#     for item in names:
#         f.write("%s\n" % item)

In [ ]:
df_names.shape

In [ ]:
listn = df_names['name'].tolist()

In [13]:
list2 = df_names2['name'].tolist()

In [ ]:
ids = df_names['ID'].tolist()

In [14]:
ids2 = df_names2['ID'].tolist()

In [ ]:
with open("names2.txt", "w") as output:
    output.write(str(list2))

In [15]:
def creat_dic(lst1, lst2):
    pairs = dict(zip(lst1, lst2))
    return pairs

In [16]:
dict2 = creat_dic(list2, ids2)

In [17]:
with open("dict2.txt", "w") as output:
    output.write(str(dict2))

In [68]:
df.columns

Index(['address', 'attributes', 'business_id', 'categories', 'city', 'hours',
       'is_open', 'latitude', 'longitude', 'name', 'postal_code',
       'review_count', 'stars', 'state'],
      dtype='object')

In [71]:
any(df.duplicated(subset=['address', 'business_id', 'categories', 'city',
       'is_open', 'latitude', 'longitude', 'name', 'postal_code',
       'review_count', 'stars', 'state']))

False

In [21]:
duplicates = df[df.duplicated('name', keep=False)].sort_values('name')

In [23]:
not_duplicates = df[~df.duplicated('name', keep=False)]

In [24]:
duplicates.shape

(58972, 14)

In [25]:
not_duplicates.shape

(133637, 14)

In [26]:
df.shape

(192609, 14)

In [22]:
duplicates.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
90223,4520 William Penn Hwy,{'BusinessAcceptsCreditCards': 'True'},Z5kqhmXlKA_SDamQ5qwNGA,"Tires, Car Dealers, Automotive, Auto Repair",Monreoville,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,40.437934,-79.745126,#1 Cochran Cadillac - Monroeville,15146,9,3.5,PA
10826,4520 William Penn Hwy,{'BusinessAcceptsCreditCards': 'True'},IxzYgn2qvvP-6v2vseAsRw,"Auto Parts & Supplies, Car Dealers, Automotive...",Monroeville,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,40.438658,-79.748539,#1 Cochran Cadillac - Monroeville,15146,9,3.5,PA
39188,"7960 S Rainbow Blvd, Ste 8000G","{'RestaurantsReservations': 'False', 'GoodForM...",gA78_OGp1ekMvZWjRoBmFw,"Restaurants, Hawaiian, Barbeque, Seafood",Las Vegas,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",1,36.043305,-115.243062,#1 Hawaiian Barbecue,89139,23,4.0,NV
105935,"5905 S Eastern Ave, Ste 105","{'RestaurantsAttire': ''casual'', 'Restaurants...",42yLya7lhe7TQGz3KEdKAw,"Restaurants, Hawaiian, Seafood, Barbeque",Las Vegas,"{'Monday': '10:30-21:30', 'Tuesday': '10:30-21...",1,36.081920,-115.119526,#1 Hawaiian Barbecue,89119,40,3.5,NV
59511,917 Eagle Crest Dr,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",xSwZiSQxNHOnqQ70NExISg,"Beauty & Spas, Nail Salons",Madison,None,0,43.111316,-89.290819,007 Nails,53704,5,2.5,WI

In [73]:
duplicates['name'] = duplicates['name'] + ' - ' + duplicates['address']

In [74]:
duplicates.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
90223,4520 William Penn Hwy,{'BusinessAcceptsCreditCards': 'True'},Z5kqhmXlKA_SDamQ5qwNGA,"Tires, Car Dealers, Automotive, Auto Repair",Monreoville,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,40.437934,-79.745126,#1 Cochran Cadillac - Monroeville - 4520 Willi...,15146,9,3.5,PA
10826,4520 William Penn Hwy,{'BusinessAcceptsCreditCards': 'True'},IxzYgn2qvvP-6v2vseAsRw,"Auto Parts & Supplies, Car Dealers, Automotive...",Monroeville,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,40.438658,-79.748539,#1 Cochran Cadillac - Monroeville - 4520 Willi...,15146,9,3.5,PA
39188,"7960 S Rainbow Blvd, Ste 8000G","{'RestaurantsReservations': 'False', 'GoodForM...",gA78_OGp1ekMvZWjRoBmFw,"Restaurants, Hawaiian, Barbeque, Seafood",Las Vegas,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",1,36.043305,-115.243062,"#1 Hawaiian Barbecue - 7960 S Rainbow Blvd, St...",89139,23,4.0,NV
105935,"5905 S Eastern Ave, Ste 105","{'RestaurantsAttire': ''casual'', 'Restaurants...",42yLya7lhe7TQGz3KEdKAw,"Restaurants, Hawaiian, Seafood, Barbeque",Las Vegas,"{'Monday': '10:30-21:30', 'Tuesday': '10:30-21...",1,36.081920,-115.119526,"#1 Hawaiian Barbecue - 5905 S Eastern Ave, Ste...",89119,40,3.5,NV
59511,917 Eagle Crest Dr,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",xSwZiSQxNHOnqQ70NExISg,"Beauty & Spas, Nail Salons",Madison,None,0,43.111316,-89.290819,007 Nails - 917 Eagle Crest Dr,53704,5,2.5,WI

In [75]:
df_final = pd.concat([not_duplicates, duplicates])

In [76]:
df_final.shape

(192609, 14)

In [77]:
df_names_f = pd.merge(new_ids, df_final, left_on="ID", right_on="business_id", how="left")

In [78]:
df_names_f.shape

(94435, 15)

In [79]:
df_names_f = df_names_f[['ID','name']]

In [80]:
list_f = df_names_f['name'].tolist()

In [81]:
ids_f = df_names_f['ID'].tolist()

In [82]:
dict_f = creat_dic(list_f, ids_f)

In [83]:
with open("dict_f.txt", "w") as output:
    output.write(str(dict_f))

In [84]:
with open("names_f.txt", "w") as output:
    output.write(str(list_f))

In [85]:
df_final[df_final['name'] == 'Starbucks - 777 West Lake Mead Pkwy']

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
3522,777 West Lake Mead Pkwy,"{'BikeParking': 'True', 'BusinessParking': '{'...",vYu1_HnKIcj6_rhw3p4qYw,"Coffee & Tea, Food",Henderson,"{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",1,36.031965,-115.009111,Starbucks - 777 West Lake Mead Pkwy,89015,17,2.5,NV

In [6]:
role = get_execution_role()
bucket='ds6-yelp-reviews'
data_key6 = 'reviews_polarity.csv'
data_location6 = 's3://{}/{}'.format(bucket, data_key6)

df3 = pd.read_csv(data_location6)

In [7]:
df3.head()

,business_id,cool,date_time,funny,review_id,star_review,text,useful,user_id,tokens,date,polarity
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1.0,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6.0,hG7b0MtEbXx5QzbzE6C_VA,"['total', 'horrible', 'service', 'gs', 'crooks...",2013-05-07,-0.333333
1,ujmEBvifdJM6h6RLv4wQIg,0,2017-02-09 06:45:18,0.0,8Edv5pKe5lOBoN5UZTUI1w,4.0,My family has used this ER four times in the p...,0.0,RBXSJA372ilErzNwz0jXvQ,"['family', 'er', 'times', 'past', 'years', 'pa...",2017-02-09,-0.007778
2,ujmEBvifdJM6h6RLv4wQIg,0,2018-08-14 05:25:33,0.0,kEs5u0cGPtiSQCLW7b0l9g,1.0,I have never been more disappointed by the car...,1.0,x3brMMbJrAW9PwW5A6YL5w,"['disappointed', 'care', 'provided', 'mountain...",2018-08-14,-0.138333
3,ujmEBvifdJM6h6RLv4wQIg,0,2018-05-08 19:27:59,0.0,Pm6qydbW58BB0zdWCPlBmg,1.0,"Went in for a broken finger, was asked if I wa...",3.0,Skzdl0sWhW88525a1vr59g,"['went', 'broken', 'finger', 'asked', 'pain', ...",2018-05-08,-0.079384
4,ujmEBvifdJM6h6RLv4wQIg,0,2014-10-11 06:57:18,0.0,QWJVYwNxUY_Plu4Ipz33_A,5.0,My mother was at Mountain View for nearly two ...,1.0,3Y25VDfnQVcuc33T-U3Z6A,"['mother', 'mountain', 'view', 'nearly', 'week...",2014-10-11,0.342667

In [5]:
df['categories'].iloc[1].split(',')[0]

'Specialty Food'